/* Variables */

:root {
  --basic-background: #f1f5f7;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  
  --special-background: #293449;
  --special-bluedark: #32425c;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  
  --black: #000000;
  --white: #ffffff;
  
  --bluelight: #f3f7f9;
  
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--basic-background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Bar */

.header-bar {
  min-width: auto;
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background: var(--special-background);
}

.header-logo {
  font-size: 24px;
  color: var(--white);
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.search-field {
  border: none;
  background: var(--special-background);
}

.search-field,
.bookmark-link,
.basket-link,
.order-link {
  color: var(--white);
}

.order-link {
  background: var(--basic-green);
}

/* Head */

.header {
  min-width: 940px;
}

.header-content {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-phone {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--white);
``box-sizing: border-box;
  color: var(--basic-red);
  background: var(--bluelight);
}

.header-address {
  font-style: normal;
  color: var(--special-bluedark);
}

.login-link,
.register-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.navigation-list {
  list-style: none;
}

.navigation-item {
  background: var(--special-bluedark);
}

.navigation-link {
  font-size: 18px;
  color: var(--white);
}

/* Features, Discounts */

.features,
.discounts {
  width: 300px;
  height: 123px;
}

.feature-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.feature-link {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.features:nth-child(2) {
  background: var(--special-yellow);
}

.features:nth-child(3) {
  background: var(--special-blue);
}

.features:nth-child(4) {
  background: var(--special-lilac);
}

/* Sliders */

.sliders {
  width: 620px;
  height: 266px;
  background: var(--special-background);
}

.slider-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);
}

.slider-content {
  font-size: 18px;
  color: var(--white);
}

.slider-link {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background: var(--basic-red);
}
